@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
button,
select,
textarea,
input {
  font-family: 'Roboto';
  font-size: 16px;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.navbar {
  width: 100%;
  background-color: rgb(22, 109, 72);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  width: auto;
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

button.button {
  background-color: #1db318;
  border: 2px solid transparent;
  border-radius: 4px;
  color: #ffffff;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: #1db318;
  color: #1db318;
}

button.button:active {
  background-color: lightblue;
}


li {
  margin: 1em;
}

table {
  border: 2px solid black;
  border-collapse: separate;
  max-width: 1000px;
  min-width: 400px;
  margin: auto;
}

th,
td {
  border: 1px solid rgba(7, 7, 53, 0.438);
  padding: 1em;
}

h1,
form {
  text-align: center;
}