{% extends 'base.html' %}

{% block content %}
<h1>Create an account</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Sign up</button>
</form>
{% endblock content %}


