{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pretty.css' %}">
    <title>Money Things</title>
</head>
<body>  
    <header>
        <nav class="navbar">            
            {%if user.is_authenticated %}
                <a href="{% url 'home' %}">Receipts</a>
                <a href="{% url 'receipt_create' %}">New Receipt</a>
                <a href="{% url 'accounts_list' %}">Accounts</a>
                <a href="{% url 'account_create' %}">New Account</a>
                <a href="{% url 'categories_list' %}">Expense Categories</a>
                <a href="{% url 'categories_create' %}">New Expense Category</a>                
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                   <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Sign up!</a>
            {% endif %}                     
        </nav>
    </header>
    <main>
    {% block content %}
    {% endblock content %}
    </main>
</body>
</html>