{% extends 'base.html' %}
{% block content %}
<table>
    <h1 class='center'>Receipts</h1>
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </tr>
    </thead>
    <tb>
    {% for item in receipt_list %}
        <tr>
            <td> {{ item.vendor }}</td>
            <td> {{ item.total }}</td>
            <td> {{ item.tax }}</td>
            <td> {{ item.date|date:"m-d-Y" }}</td>
            <td> {{ item.category.name }}</td>
            <td> {{ item.account.name }}</td>
        </tr>
    {% endfor %}
    </tb>
</table>
{% endblock content %}





